
:root {
    --border-color: #C69DD2; /* Zostawiamy istniejący kolor ramki */
    --background-color: #F9F5FF; /* Zostawiamy istniejący kolor tła */
    --button-color: #998fc7; /* Nowy kolor przycisku */
    --button-text-color: #ffffff; /* Nowy kolor tekstu na przycisku */
    --login-text-color: #998fc7; /* Nowy kolor tekstu "Zaloguj się do biblioteki" */
}

.login-panel {
    width: 400px;
    height: 300px;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 8px;
    margin: 0 auto;
}
.add-user-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #998FC7;
    text-decoration: none;
}

.Login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login-form input {
    width: 80%;
    margin-bottom: 1rem;
}

.Login-form button {
    width: 75%;
    margin-top: 4rem;
    background-color: var(--button-color);
    color: var(--button-text-color);
}

h1 {
    color: var(--login-text-color);
    text-align: center;
}
