/* LoginForm.css */
:root {
    --border-color: #C69DD2; /* Zostawiamy istniejący kolor ramki */
    --background-color: #F9F5FF; /* Zostawiamy istniejący kolor tła */
    --button-color: #998fc7; /* Nowy kolor przycisku */
    --button-text-color: #ffffff; /* Nowy kolor tekstu na przycisku */
    --login-text-color: #998fc7; /* Nowy kolor tekstu "Zaloguj się do biblioteki" */
}

.login-panel {
    width: 400px; /* Ustal szerokość panelu na 400px */
    height: 300px;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 8px;
    margin: 0 auto;
}
.add-user-link {
    display: block;
    text-align: center;
    margin-top: 20px; /* Odstęp od przycisku Zaloguj się */
    color: #998FC7; /* Kolor fioletowy */
    text-decoration: none; /* Usunięcie podkreślenia */
}

.Login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Extra styling for form elements */
.Login-form input {
    width: 80%; /* Rozszerz pola input na 80% szerokości panelu */
    margin-bottom: 1rem; /* Dodaj odstęp na dole każdego pola input */
}

.Login-form button {
    width: 75%; /* Rozszerz przycisk na 80% szerokości panelu */
    margin-top: 4rem; /* Dodaj odstęp na górze przycisku */
    background-color: var(--button-color); /* Ustaw kolor tła przycisku */
    color: var(--button-text-color); /* Ustaw kolor tekstu na przycisku */
}

h1 {
    color: var(--login-text-color); /* Ustaw kolor tekstu "Zaloguj się do biblioteki" */
    text-align: center; /* Wyśrodkuj tekst */
}
