.Loan-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}
#rectangle1 {
    background-color: #D2FDFF;
    height: 100vh; /* Zmiana na 100vh zamiast 100% */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}